<body>
    <header>
        <section>
            <section><img src="assets/logo.png" alt="My diabetes Logo"></section>
            <h2 class="dr-name">Welcome Dr. Doe</h2>
            <ul>
                <li><a href="/"><button class = "clear signout-btn" type="button">Sign out</button></a></li>
                <li><a href="/pa_Messages"><i class="fa-regular fa-bell fa-2x"></i></i></a></li>
                <li><a href="/dashboard"><i class="fa-regular fa-circle-user fa-2x"></i></a></li>
            </ul>
        </section>
        <nav>
            <button class="hamburger1" id="hamburger1">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="nav-ul"id="nav-ul">
                <li><a href = "/"><button class = nav type="button">About Diabetes</button></a></li>
                <li><a href = "/aboutUs"><button class = nav type="button">About Us</button></a></li>
                <li><a href = "/dashboard"><button class = nav type="button">Dashboard</button></a></li>
                <li><a href = "/pa_SignUp"><button class = nav type="button">Sign-up Patient</button></a></li> 
            </ul>
        </nav>
    </header>
    <main class="dashboard-content">
        <section class="patient-table">
            <section class="patient-title">
                <section class="patient-key">
                    <a href=""><i class="fa-regular fa-circle-user fa-2x"></i></a>
                    <h2>Bary Late(1077620)</h2>
                    <a href=""><i class="fa-regular fa-message"></i></a>
                    <a href=""><i class="fa-solid fa-notes-medical"></i></a>
                    <section class="dots">
                        <div class="dot"id="yellow-dot"></div>
                        <p>Not Updated</p>
                        <div class="dot"id="red-dot"></div>
                        <p>Attention Needed</p>
                    </section>
                </section>
                <section class="page-arrow2">
                    <a><i class="fa-solid fa-angle-left"></i></a>
                    <button class="number-1">1</button>
                    <button class="number-2">2</button>
                    <a><i class="fa-solid fa-angle-right"></i></a>
                </section>
            </section>
            <table class="profile-data">
                <tr>
                    <th><ion-icon class="sign"name="remove-circle-outline"></ion-icon>Blood Glucose</th>
                    <th><ion-icon name="remove-circle-outline"></ion-icon>Insulin Doses</th>
                    <th><ion-icon name="remove-circle-outline"></ion-icon>Step Count</th>
                    <th><ion-icon name="add-circle-outline"></ion-icon>Weight</th>
                    <th>Date</th>
                </tr>
                <tr class="table-content">
                    <td class="red-alert">Late</td>
                    <td class="red-alert">Late</td>
                    <td class="red-alert">Late</td>
                    <td class="healthy-level">-</td>
                    <td class="date">15/03/2022</td>
                </tr>
                <tr class="table-content">
                    <td class="healthy-level">Late</td>
                    <td class="healthy-level">Late</td>
                    <td class="healthy-level">Late</td>
                    <td class="healthy-level">-</td>
                    <td class="date">15/03/2022</td>
                </tr>
                <tr class="table-content">
                    <td class="healthy-level">7.5 nmol/L</td>
                    <td class="healthy-level">1 doses</td>
                    <td class="healthy-level">7650</td>
                    <td class="healthy-level">-</td>
                    <td class="date">14/03/2022</td>
                </tr>
                <tr class="table-content">
                    <td class="healthy-level">7.1 nmol/L</td>
                    <td class="healthy-level">4 doses</td>
                    <td class="healthy-level">10,760</td>
                    <td class="healthy-level">-</td>
                    <td class="date">13/03/2022</td>
                </tr>
                <tr class="table-content">
                    <td class="healthy-level">6.9 nmol/L</td>
                    <td class="healthy-level">2 doses</td>
                    <td class="healthy-level">Late</td>
                    <td class="healthy-level">-</td>
                    <td class="date">12/03/2022</td>
                </tr>
                <tr class="table-content">
                    <td class="healthy-level">7.2 nmol/L</td>
                    <td class="healthy-level">2 doses</td>
                    <td class="healthy-level">9987</td>
                    <td class="healthy-level">-</td>
                    <td class="date">11/03/2022</td>
                </tr>
                <tr class="table-content">
                    <td class="healthy-level">7.5 nmol/L</td>
                    <td class="healthy-level">2 doses</td>
                    <td class="healthy-level">11840</td>
                    <td class="healthy-level">-</td>
                    <td class="date">10/03/2022</td>
                </tr>
                <tr class="table-content">
                    <td class="healthy-level">6.9 nmol/L</td>
                    <td class="healthy-level">2 doses</td>
                    <td class="healthy-level">7840</td>
                    <td class="healthy-level">-</td>
                    <td class="date">09/03/2022</td>
                </tr>
                <tr class="table-content">
                    <td class="healthy-level">7.3 nmol/L</td>
                    <td class="healthy-level">1 doses</td>
                    <td class="healthy-level">8030</td>
                    <td class="healthy-level">-</td>
                    <td class="date">08/03/2022</td>
                </tr>
                <tr class="table-content">
                    <td class="healthy-level">7.1 nmol/L</td>
                    <td class="healthy-level">Late</td>
                    <td class="healthy-level">7340</td>
                    <td class="healthy-level">-</td>
                    <td class="date">07/03/2022</td>
                </tr>
                <tr class="table-content">
                    <td class="healthy-level">7.0 nmol/L</td>
                    <td class="healthy-level">Late</td>
                    <td class="healthy-level">Late</td>
                    <td class="healthy-level">-</td>
                    <td class="date">06/03/2022</td>
                </tr>
                <tr class="table-content">
                    <td class="healthy-level">7.3 nmol/L</td>
                    <td class="healthy-level">2 doses</td>
                    <td class="healthy-level">9875</td>
                    <td class="healthy-level">-</td>
                    <td class="date">04/03/2022</td>
                </tr>
                
            </table>
        </section>
        <section class="side-note">
            <section class="patient-note">
              <h2>Notes</h2>
              <i class="fa-solid fa-angle-right"></i>
              <h2>Barry Late</h2>
            </section>
            <section class="notepad2">
                <p>Patient since March of 2022.
                    No major history with medication
                    Allergic to glucose and some 
                    citrus.
                    No activities or sports</p>
                <section class="clinical-notes">
                    <section class="clinical-entry" href="/clinical-notes">
                        <p class="note-thumbnail">Patient ran an extra mile today</p>
                        <p class="time-of-entry">10/2/2022</p>
                    </section>
                    <section class="clinical-entry">
                        <p class="note-thumbnail">Patient's weight decreased recently</p>
                        <p class="time-of-entry">10/2/2022</p>
                    </section>
                </section>
            </section>
        </section>
    </main>
</body>