<body>
    <header>
        <section>
            <section><img src="assets/logo.png" alt="My diabetes Logo"></section>
            <ul>
                <li><a href="/logIn"><button class = "clear signin-btn" type="button">Log In</button></a></li>
                <li><a href="/pa_SignUp"><button class= "clear signup-btn" type="button">Sign Up</button></a></li>
            </ul>
        </section>
        <nav>
            <button class="hamburger1" id="hamburger1">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="nav-ul"id="nav-ul">
                <li><a href = "/"><button class = nav type="button">About Diabetes</button></a></li>
                <li<a href = "/aboutUs"><button class = nav type="button">About Us</button></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="center-content">
            <h2>Password Submitted</h2>
            <p>A reset password link has been sent to your email. Please allow up to 5 minutes for the email to arrive in your inbox.</p>
            <a href="/"><button class="forget-password-btn" id="back-homepage">Back To Homepage</button></a>
        </section>
    </main>
</body>